{% load home_extras %}

{% if as_modal %}
    {% include 'home/crud_form_modal.html' with modal_id='duplicate-'|addstr:component.key|addstr:'-'|addstr:component.id|addstr:'-modal' form_title="Duplicate "|addstr:component.name_singular form_action='home-duplicate-'|addstr:component.key %}
{% else %}
    {% include 'home/crud_form.html' with div_id='duplicate-'|addstr:component.key|addstr:'-'|addstr:component.id|addstr:"-div" form_title="Duplicate "|addstr:component.name_singular form_action='home-duplicate-'|addstr:component.key %}
{% endif %}