{% extends 'home/base.html' %}
{% load static %} <!-- Load static files -->
{% load account_extras %}

{% block content %}

<h1>Welcome to your profile</h1>

<hr>

<!-- Account -->
 <div id="account">
    <!-- Display -->
    <h3>Account Details</h3>
    <fieldset disabled="disabled">
        {% include 'home/update_form.html' with component=user form=update_account_form as_modal=False app='account' %}
    </fieldset>

    <!-- Update -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target='#update-{{user.key}}-{{user.id}}-modal'>
        Update
    </button>
    {% include 'home/update_form.html' with component=user form=update_account_form as_modal=True app='account' %}

    <!-- Delete -->
    {% include 'home/delete_form.html' with component=user app='account' %}

 </div>

 <!-- Logins -->
 <div id="logins">
    <h3>Logins</h3>
    <table>
        <tr><th>Last login:</th><td>{{ user.last_login }}</td></tr>
        <tr><th>Date joined:</th><td>{{ user.date_joined }}</td></tr>
    </table>
 </div>

<!-- Workspaces -->
<div id="workspaces">
    <h3>Workspaces</h3>
    <table class="table table-bordered">
        <tbody>
            {% for workspace in user.workspace_set.all %}
                <tr>

                    <td>{{ workspace }}</td>

                    <!-- Datasets -->
                    <td>
                        <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" type="button">Datasets</button>
                        <ul class="dropdown-menu">
                            {% for dataset in workspace.datasets.all %}
                                <li class="dropdown-item">{{dataset}}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <!-- Regressions -->
                    <td>
                        <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" type="button">Regressions</button>
                        <ul class="dropdown-menu">
                            <!-- Ordinary Least Squares-->
                            <li><h6 class="dropdown-header">Ordinary Least Squares</h6></li>
                            {% for ordinaryleastsquares in workspace.ordinaryleastsquaress.all %}
                                <li class="dropdown-item">{{ordinaryleastsquares}}</li>
                            {% endfor %}
                            <!-- Ridge Regressions-->
                            <li><h6 class="dropdown-header">Ridge Regressions</h6></li>
                            {% for ridgeregression in workspace.ridgeregressions.all %}
                                <li class="dropdown-item">{{ridgeregression}}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <!-- Visualizations -->
                    <td>
                        <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" type="button">Visualizations</button>
                        <ul class="dropdown-menu">
                            <!-- Scatter Matrices-->
                            <li><h6 class="dropdown-header">Scatter Matrices</h6></li>
                            {% for scattermatrix in workspace.scattermatrixs.all %}
                                <li class="dropdown-item">{{scattermatrix}}</li>
                            {% endfor %}
                            <!-- Histograms-->
                            <li><h6 class="dropdown-header">Histograms</h6></li>
                            {% for histogram in workspace.histograms.all %}
                                <li class="dropdown-item">{{histogram}}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <!-- Update -->
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-workspace-{{workspace.id}}-modal">
                            Update
                        </button>
                        {% initialize_update_workspace workspace=workspace user=user %}
                    </td>

                    <!-- Delete -->
                    <td>
                        {% initialize_delete_workspace workspace=workspace user=user %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
